//paleta de colores
$color-principal: #961721;
$color-secundario: #1a394e;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-whatsapp: #25d366;

$font-general: 'Montserrat', sans-serif;
$font-alt: 'Lato', sans-serif;

$radius-base: 10px;
$transicion-base: 0.3s ease;